{% extends '@Admin/base.html.twig' %}


{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Users
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{{ path('admin') }}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-fw fa-users"></i> Users
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->



    </div>
    <!-- /.container-fluid -->



{% endblock %}

{% block javascripts %}
    <script>
        $("#navIndex").removeClass("active");
        $("#navMovies").removeClass("active");
        $("#navCategories").removeClass("active");
        $("#navActors").removeClass("active");
        $("#navUsers").removeClass("active").addClass("active");
    </script>
{% endblock %}